#works {
  margin: 0 auto;
  min-height: calc(100vh - 4rem);
  width: 100vw;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}
.workstitle {
  margin: 1rem 0;
  font-size: 3rem;
}
.WorksDesc {
  font-weight: 300;
  font-size: 1rem;
  max-width: 45rem;
}
.worksImgs {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  max-width: 65rem;
  flex-wrap: wrap;
}
.worksImg {
  object-fit: cover;
  height: 31rem;
  margin: 0.5rem;
  width: 17rem;
  border-radius: 6rem;
}
.worksbtn {
  padding: 0.5rem 2.5rem;
  border: none;
  background-color: white;
  border-radius: 2rem;
  font-size: 1rem;
  margin: 3rem 0;
}
@media screen and (max-width: 585px) {
  .worksImg {
    height: 100vh;
    object-fit: cover;
  }
}

@media screen and (max-width: 477px) {
  .worksImg {
    height: 51vh;
    object-fit: cover;
  }
}
